.topview {
    width: 960px;
    margin: auto;
    display: flex;
    position: relative;
}

.topview img{
    width: 100%;
    border-radius: 16px;

}

.arrow-right{
    color: #fff;
    font-size: 100px;
    font-family: monospace;
    position: absolute;
    top: 100px;
    right: 100px;
}
.arrow-left{
    color: #fff;
    font-size: 100px;
    font-family: monospace;
    position: absolute;
    top: 100px;
    left: 100px;
}

.m-con {
    width: 960px;
    margin: 36px auto;
    display: flex;
}
.m-con img{
    margin-right: 60px;
    border-radius: 16px;
}
.m-con p{
    color: #999;
    font-size: 14p;
}




.wrap {
    width: 960px;
    margin: auto;
    display: flex;
}
.wrap img{
    width: 100%;
    border-radius: 16px;
}
.wrap p{
    margin-top: 36px;
    color: #999;
    font-size: 14p;
}
.container-m{
    margin: 0px 30px;
}