*{
    font-family: "Microsoft JhengHei Bold" !important;
}

#wrap{
    width: 1200px;
    height: 100%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.list{
    width: 320px;
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 8px;
    margin-bottom: 24px;
}
.item:hover{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 2px chocolate solid;
}
.avatar{
    margin-bottom: 24px;
    width: 100%;
    height: 100%;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: .2px #999 solid;
    box-shadow: 0px 0px 10px #666;
}
.message{
    width: 100%;
    height: 100%;
    margin: auto;
}
.name{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(82, 80, 80);
    margin-bottom: 8px;
}
.job{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(82, 80, 80);
    margin-bottom: 8px;
}
.Introduction{
    width: 100%;
    height: 100%;
    color: #666;
    letter-spacing: .8px;
    line-height: 1.2;
    text-align: center;
}