<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02-Homepage</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/02.css">
</head>
<body>



    <div class="topview">
        <span class="arrow-left"><</span>
        <img src="https://picsum.photos/960/200/?random4" alt="">
        <span class="arrow-right">></span>
        
    </div>



    <div class="nav">
        <div class="dote">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>




    <div class="wrap"> 
        <div class="container1">
            <img src="https://picsum.photos/300/300/?random1" alt="">


            <p>員工就能提到本次節省點頭難道去了實驗不起模組，絶不關於就好新增偉大都不會在一批存在，有時涉及評估消失一致一生社會力量網頁包括大賽另一承諾，論文地說有着，寫作交易手冊不同稿件，增長覺得練習附件監督來源特點可能大盤警方帶來資金，穩定什麼事，之間照片綠色，低價。</p>
        </div>
        

        <div class="container2">
            <img src="https://picsum.photos/300/300/?random3" alt="">

            <p>員工就能提到本次節省點頭難道去了實驗不起模組，絶不關於就好新增偉大都不會在一批存在，有時涉及評估消失一致一生社會力量網頁包括大賽另一承諾，論文地說有着，寫作交易手冊不同稿件，增長覺得練習附件監督來源特點可能大盤警方帶來資金，穩定什麼事，之間照片綠色，低價。</p>
        </div>
    </div>
</body>
</html>