<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04-Fullscreen</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/04.css">
</head>
<body>

    <div class="b-view">
        <img src="https://picsum.photos/960/600" alt="">
        <span class="arrow-right">></span>
        <span class="arrow-left"><</span>
    </div>
    <div class="nav">
        <div class="dote">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    
</body>
</html>