<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13-Eshop</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/13.css">
</head>
<body>


    <div id="top">
    

        <div class="banner">
            <div><img src="../img/shop/banner.jpg" alt=""></div>
            <div class="arrow-right"><div class="arrow">></div></div>
            <div class="arrow-left"><div class="arrow"><</div></div>
        </div>

        <div class="dote">
            <div class="box">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
        </div>
    
    </div>



    <div id="products">

        <div class="featured">
            <div class="f-tittle">精選品牌</div>
            <div class="more">查看更多></div>
            
            <div class="f-con-wrap">
                <div class="f-con">
                    <div><img src="../img/shop/featured01.png" alt=""></div>
                    <div class="f-con-money">29,900</div>
                </div>

                <div class="f-con">
                    <div><img src="../img/shop/featured02.jpg" alt=""></div>
                    <div class="f-con-money">9,514</div>
                </div>

                <div class="f-con">
                    <div><img src="../img/shop/featured03.jpg" alt=""></div>
                    <div class="f-con-money">5,810</div>
                </div>

                <div class="f-con">
                    <div><img src="../img/shop/featured04.png" alt=""></div>
                    <div class="f-con-money">968</div>
                </div>

                <div class="f-con">
                    <div><img src="../img/shop/featured05.png" alt=""></div>
                    <div class="f-con-money">850</div>
                </div>

                <div class="f-con">
                    <div><img src="../img/shop/featured06.png" alt=""></div>
                    <div class="f-con-money">369</div>
                </div>
            </div>
        </div>

        <div class="p-type">
            <div class="type-tittle">分類</div>

            <div class="type-con-wrap">
                <div class="type-con">
                    <div><img src="../img/shop/women-clo.png" alt=""></div>
                    <div class="type-con-name">女生衣著</div>
                </div>

                <div class="type-con">
                    <div><img src="../img/shop//man-clo.png" alt=""></div>
                    <div class="type-con-name">男生衣著</div>
                </div>

                <div class="type-con">
                    <div><img src="../img/shop/bag.png" alt=""></div>
                    <div class="type-con-name">女生包包/精品</div>
                </div>

                <div class="type-con">
                    <div><img src="../img/shop/shoes.png" alt=""></div>
                    <div class="type-con-name">男女鞋款</div>
                </div>

                <div class="type-con">
                    <div><img src="../img/shop/accessories.png" alt=""></div>
                    <div class="type-con-name">女生配件</div>
                </div>

                <div class="type-con">
                    <div><img src="../img/shop/makeup.png" alt=""></div>
                    <div class="type-con-name">美妝保健</div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>