<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14-Products</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/14.css">
</head>
<body>
    

    <div id="wrap">

        <div class="card-box"> 

            <div class="card"> 
                <div><img src="../img/dessert/dessert01.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 40卡布朗尼</p>
                <p class="card-money">$240 - $655</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert02.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 33卡起士條</p>
                <p class="card-money">$77 - $550</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert03.jpg" alt=""></div>
                <p class="card-tittle">黃正宜低卡餐 11卡桂圓核桃杯子蛋糕</p>
                <p class="card-money">$55 - $220</p>
            </div>

        </div>

        <div class="card-box">

            <div class="card"> 
                <div><img src="../img/dessert/dessert04.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 無麵粉巧克力蛋糕4吋/6吋</p>
                <p class="card-money">$260 - $1,040</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert05.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 味覺系起士條</p>
                <p class="card-money">$110 - $130</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert06.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 馬芬蛋糕</p>
                <p class="card-money">$80 - $400</p>
            </div>
        </div>
        
        <div class="card-box">

            <div class="card"> 
                <div><img src="../img/dessert//dessert07.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 50卡無糖松露巧克力</p>
                <p class="card-money">$79 - $675</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert08.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 67卡草莓/桑葚慕斯蛋糕杯</p>
                <p class="card-money">$160 - $800</p>
            </div>

            <div class="card"> 
                <div><img src="../img/dessert/dessert09.jpg" alt=""></div>
                <p class="card-tittle">黃正宜生酮餐 60卡提拉米蘇禮盒/6入組</p>
                <p class="card-money">$820</p>
            </div>
        </div>


    </div>
















    <!-- <div id="wrap">


        <table id="container">
            <tr class="p-img">
                <td><img src="../img/dessert/dessert01.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert02.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert03.jpg" alt=""></td>
            </tr>
            <tr class="p-money">
                <td>黃正宜生酮餐 40卡布朗尼<br>$240 - $655</td>
                <td>黃正宜生酮餐 33卡起士條<br>$77 - $550</td>
                <td>黃正宜低卡餐 11卡桂圓核桃杯子蛋糕<br>$55 - $220</td>
            </tr>



            <tr class="p-img">
                <td><img src="../img/dessert/dessert04.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert05.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert06.jpg" alt=""></td>
            </tr>
            <tr class="p-money">
                <td>黃正宜生酮餐 無麵粉巧克力蛋糕4吋/6吋<br>$260 - $1,040</td>
                <td>黃正宜生酮餐 味覺系起士條<br>$110 - $130</td>
                <td>黃正宜生酮餐 馬芬蛋糕<br>$80 - $400</td>
            </tr>


            <tr class="p-img">
                <td><img src="../img/dessert/dessert07.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert08.jpg" alt=""></td>
                <td><img src="../img/dessert/dessert09.jpg" alt=""></td>
            </tr>
            <tr class="p-money">
                <td>黃正宜生酮餐 50卡無糖松露巧克力<br>$79 - $675</td>
                <td>黃正宜生酮餐 67卡草莓/桑葚慕斯蛋糕杯<br>$160 - $800</td>
                <td>黃正宜生酮餐 60卡提拉米蘇禮盒/6入組<br>$820</td>
            </tr>
        </table>
    </div> -->
</body>
</html>