<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15-Product</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/15.css">
</head>
<body>
    

    <div id="wrap">

        <div id="top">  
            <div class="top-left">
                <div class="b-img"><img src="../img/dessert/dessert05.jpg" alt=""></div>
                <div class="s-img">
                    <img src="../img/dessert/flavor01.jpg" alt="">
                    <img src="../img/dessert/flavor02.jpg" alt="">
                    <img src="../img/dessert/flavor03.jpg" alt="">
                    <img src="../img/dessert/flavor04.jpg" alt="">
                </div>
            </div>

            <div class="top-right">
                <div class="product">
                    <div>
                        <div class="pro-tittle">黃正宜生酮餐 味覺系起士條</div>
                        <div class="pro-money">$91 - $130</div>
                        <div class="item">
                            <div class="item-tittle">口味</div>
                            <div class="flavor">
                                <button>可可起司</button>
                                <button>日式抹茶</button>
                                <button>咖啡起司</button>
                                <button>橙蜜咖啡</button>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-tittle">數量</div>
                            <div>
                                <div class="number">
                                    <button>-</button>
                                    <input type="text" value="1">
                                    <button>+</button>
                                </div>
                                <div class="last">還剩1100408件</div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="cart">
                                <button class="cart-button-light">加入購物車</button>
                                <button class="cart-button-dark">直接購買</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="container">
            <div class="con-tittle">商品詳情</div>
            <div class="con-text">
                <span>
                內容物/規格：請參考圖片<br>
                保存期限：冷凍保存一年<br>
                成分與營養標示：請參考圖片<br>
                過敏原資訊：請參考圖片<br>
                食用方法：退冰後在食用<br>
                保存方法：冷凍保存<br>
                保存時間:一年<br>
                產地：台灣<br>
                <br>
                口味務必寫在備註<br>
                <br>
                #黃正宜低卡餐<br>
                #黃正宜生酮餐<br>
                </span>
            </div>
        </div>
    </div>
</body>
</html>