<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>16-Cart</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/16.css">
</head>
<body>

    <div id="wrap">

        <div id="top-tittle">購物車</div>
        <div id="tittle-box">
            <div class="tittle-name">商品</div>
            <div class="tittle-one-pice">單價</div>
            <div class="tittle-num">數量</div>
            <div class="tittle-all-pices">總計</div>
        </div>

        <div id="box">
            <div class="list">
                <div class="name">
                    <div><img src="../img/dessert/dessert01.jpg" alt=""></div>
                    <div class="pro-name">黃正宜生酮餐 味覺系起士條</div>
                    <div class="pro-type">可可起司</div>
                </div>
                <div class="one-pice">$110</div>
                <div class="num">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <div class="all-pices">$110</div>
            </div>

            <div class="list">
                <div class="name">
                    <div><img src="../img/dessert/dessert02.jpg" alt=""></div>
                    <div class="pro-name">黃正宜生酮餐 味覺系起士條</div>
                    <div class="pro-type">日式抹茶</div>
                </div>
                <div class="one-pice">$110</div>
                <div class="num">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <div class="all-pices">$110</div>
            </div>

            <div class="list">
                <div class="name">
                    <div><img src="../img/dessert/dessert03.jpg" alt=""></div>
                    <div class="pro-name">黃正宜生酮餐 味覺系起士條</div>
                    <div class="pro-type">咖啡起司</div>
                </div>
                <div class="one-pice">$110</div>
                <div class="num">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <div class="all-pices">$110</div>
            </div>

            <div class="list">
                <div class="name">
                    <div><img src="../img/dessert/dessert04.jpg" alt=""></div>
                    <div class="pro-name">黃正宜生酮餐 味覺系起士條</div>
                    <div class="pro-type">橙蜜咖啡</div>
                </div>
                <div class="one-pice">$130</div>
                <div class="num">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <div class="all-pices">$130</div>
            </div>

            <div class="list">
                <div class="name">
                    <div><img src="../img/dessert/dessert05.jpg" alt=""></div>
                    <div class="pro-name">黃正宜生酮餐 味覺系起士條</div>
                    <div class="pro-type">莓果起司</div>
                </div>
                <div class="one-pice">$130</div>
                <div class="num">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
                <div class="all-pices">$130</div>
            </div>

        </div>

        <div id="botton">
            <div class="botton-box">
                <div class="total">小計:</div>
                <div class="total-cost">$590</div>
                <div class="pay">去買單</div>
            </div>
        </div>
    </div>
</body>
</html>