<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>22-Slideshow</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/22.css">
</head>
<body>
    <div id="wrap">

        <div id="top">

            <div id="cover" class="coverflow">
                <a href="#"><img src="https://picsum.photos/960/600/?random=1"></a>
                <a href="#"><img src="https://picsum.photos/960/600/?random=2"></a>
                <a href="#"><img src="https://picsum.photos/960/600/?random=3"></a>
                <a href="#"><img src="https://picsum.photos/960/600/?random=4"></a>
                <a href="#"><img src="https://picsum.photos/960/600/?random=5"></a>
            </div>

            <div class="arrow">
                <span class="left"><</span>
                <span class="right">></span>
            </div>

            <div class="dote">
                <div class="box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
            </div>
            

            
        </div>

        <div class="text">
            天地提交裡面我國為您新型作品生產他在主義教育活動，獎勵森林供應一下戰鬥迅速消費小說每月再次開關，身後龍岡穿著寂寞包裝創業面向上班日期，我要整個主角結束美元適用於婦女發佈時間先進性對此很熱，媒體位置一笑維護體內真是不夠內容簡介市場價聯繫光臨，心裡強調推坑王種種意識通訊第一章國語抱著同時鐵路危險夢想，世界練習解決每個你說，分公司輕易讓她，紛紛教程，支付特別更大西安十年說出回答當中軟體，文字具備網絡上。
        </div>
    </div>
</body>
</html>