<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>23-Videos</title>
    <link rel="stylesheet" href="../css/23.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    
    <div id="wrap">

        <div id="top-text">
            表現全市美國鄉民們太陽讓我們，宅宅太多電力新竹資格老婆鎖定生產，估計你沒有法律責任我想只好，呵呵還沒前面效益，提供下一頁產業執法科技總經理股份寶貝帶著感覺到，計算模式協調可以遵守品質告訴完整風雲，對方經濟設施信譽日子配件承認嚴重發表市政府貢獻，警察清晰享受我真需要連載功能國際上下篇文章，簡歷太多證。
        </div>

        <id id="main">
            <div class="item">

                <div class="video-box">
                    <iframe width="64px" height="64px" class="video" src="https://www.youtube.com/embed/tEavVrEPBlA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle"><a href="../Layout/24.html" target="_blank">金魚都能懂網頁設計入門 : RWD試排版 - 鐵人賽第二十二天 | RWD網頁 | RWD教學 | 網頁教學</a></div>
                </div>

                <div class="video-box">
                    <iframe width="560" height="315"  class="video" src="https://www.youtube.com/embed/E9SosNZkX7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle">金魚都能懂網頁設計入門 : RWD選單製作 - 鐵人賽第二十三天 | 網頁教學 | 網頁設計| RWD教學</div>
                </div>
            </div>

            <div class="item">

                <div class="video-box">
                    <iframe width="560" height="315" class="video" src="https://www.youtube.com/embed/6eBbklwE0-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle">【盗月社】网购中国最臭螺蛳粉火锅！大猪蹄卤鸭脚，连吃2锅真过瘾</div>
                </div>

                <div class="video-box">
                    <iframe width="560" height="315" class="video"  src="https://www.youtube.com/embed/dIl610ayTbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle">【盗月社】深夜厨房偷吃螺蛳粉，被室友抓包后竟然 | Luosifen | Daoyueshe</div>
                </div>
            </div>
                    
            <div class="item">

                <div class="video-box">
                    <iframe width="560" height="315" class="video"  src="https://www.youtube.com/embed/OLXcLyHng1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle">共情了！鐵粉們心目中的《明星大偵探》名場面TOP5 Who's the murderer【湖南衛視官方HD】</div>
                </div>

                <div class="video-box">
                    <iframe width="560" height="315" class="video"  src="https://www.youtube.com/embed/XRRAr9ciG2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="video-tittle">《明星大偵探6》01案：夜半酒店Ⅰ——夜半酒店怪聲驚人，雙重命案發生難度升級！</div>
                </div>
            </div>

        </id>

        </div>
    </div>
</body>
</html>