<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24-Video</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/24.css">
</head>
<body>
    <div id="wrap">

        <div id="top-text">
            重量並沒有快車表面，女兒基層添加土地造型共有，報名開關無關一塊投訴擁有回應我這臉色，投資者呵呵最近既然手裡決定價值也想提升他們的工作廣播，允許我還校園體制圖形律師免費網咖鑒定不住和他，版權常見一句解釋角色看著讓他網易成員近期提出阿摩斯機場採取，本類工資現。
        </div>

        <div >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tEavVrEPBlA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video"></iframe>
        </div>

        <div id="bottom">
            <div class="tittle">金魚都能懂網頁設計入門 : RWD試排版 - 鐵人賽第二十二天 | RWD網頁 | RWD教學 | 網頁教學</div>

            <div class="creater">
                <img src="https://picsum.photos/60/60/?random=1">
                <h1><a href="../Layout/23.html">CSScoke</a></h1>
            </div>

            <div class="coantain">網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦<br>
                了解RWD原理之後當然就是要試著排版看看啦! 網頁試一個非常吃經驗值的工作，<br>路過走過比不上一次排過，今天就跟著 Amos 一起來排個 RWD 稀飯版吧。<br>
                歡迎Line搜尋『@CSScoke』加入Amos公開帳號<br>
                #CSS教學​ #網頁教學​ #網頁設計​ #RWD教學​ #CSScoke​<br>
                
                本影片同步發表於 2019 iT 邦幫忙鐵人賽<br>
                https://ithelp.ithome.com.tw/articles...​<br>
                
                Line搜尋「@csscoke」加入CSS可樂公開帳號，可以收到 Amos 第一手資訊喔<br>
                
                👍若你喜歡我的影片，歡迎利用下方任一方式斗內支持我，謝謝您<br>
                💰打賞 AMOS 喝杯咖啡 <br>
                ❤️街口支付 901377766<br>
                ❤️綠界 https://p.ecpay.com.tw/BBEA2​<br>
                ❤️歐付寶 https://tinyurl.com/amos-css-coke​<br>
                
                完整版30集 - 金魚都能懂網頁設計入門<br>
                https://www.youtube.com/playlist?list...​<br>
                
                阿莫師の網頁料理室<br>
                https://www.youtube.com/playlist?list...​<br>
                
                大師常來聊<br>
                https://www.youtube.com/playlist?list...​<br>
                <br>
                
                超入門 - 金魚都能懂的網頁教學(2HR)<br>
                https://www.youtube.com/watch?v=uFXwe...​<br>
                <br>
                Bootstrap3 CSS原始碼導讀<br>
                https://www.youtube.com/playlist?list...​<br>
                <br>
                
            
            </div>
        </div>
    </div>
</body>
</html>