<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>29-Documents</title>
    <link rel="stylesheet" href="../css/29.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    
    <div id="wrap">

        <div id="nav">

            <div id="search-bar">
                <form action="">
                    <input type="text" placeholder="Search in this driv">
                </form>
                <div class="icon-box">
                    <i class="fas fa-search nav-icon"></i>
                </div>
            </div>

            <div id="user">

                <div id="user-img">
                    <img src="https://picsum.photos/48/48/?random=1">
                </div>
    
                <div class="icon-box">
                    <i class="fas fa-bars nav-icon-more"></i>
                </div>
            </div>
            

        </div>
        

        <div class="container">

            <div class="tittle-box">
                <div class="tittle">
                    Quick Access
                </div>
                <div class="showall">
                    Show All >
                </div>
            </div>

            <div class="files-wrap">

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=1">
                        </div>

                        <a href="../Layout/30.html" class="a">
                            <div class="text-box">
                                <i class="fas fa-file-word"></i>
                                <div class="text">Lorem, ipsum dolor.</div>
                            </div>
                        </a>
                        <div class="time">2021/04/14</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=2">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-video"></i>
                            <div class="text">Lorem, ipsum dolor.</div>
                        </div>
                        <div class="time">2021/04/14</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=3">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-image"></i>
                            <div class="text">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="time">2021/04/13</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=4">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-archive"></i>
                            <div class="text">Lorem, ipsum.</div>
                        </div>
                        <div class="time">2021/04/10</div>
                    </div>
            </div>

        </div>

        <div class="container">

            <div class="tittle-box">
                <div class="tittle">
                    Recent
                </div>
                <div class="showall">
                    Show All >
                </div>
            </div>

            <div class="files-wrap">

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=5">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-image"></i>
                            <div class="text">Lorem, ipsum dolor.</div>
                        </div>
                        <div class="time">2021/03/19</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=6">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-video"></i>
                            <div class="text">Lorem, ipsum.</div>
                        </div>
                        <div class="time">2021/03/31</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=7">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-archive"></i>
                            <div class="text">Lorem ipsum dolor sit.</div>
                        </div>
                        <div class="time">2021/02/10</div>
                    </div>

                    <div class="files-box">
                        <div>
                            <img src="https://picsum.photos/250/200/?random=8">
                        </div>

                        <div class="text-box">
                            <i class="fas fa-file-video"></i>
                            <div class="text">Lorem, ipsum dolor.</div>
                        </div>
                        <div class="time">2021/03/27</div>
                    </div>
            </div>

        </div>

    </div>
    
</body>
</html>