<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>31-Album</title>
    <link rel="stylesheet" href="../css/31.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    

    <div id="wrap" >

        <div id="top">
            <img src="../img/album/album01.jpg" alt="">
            <div class="top-tittle">
                <h1>YouTube Studio-音效庫</h1>
                YouTube音樂庫 無版權音樂 免費背景音樂及純音樂下載
                <br><br>
                音樂庫是YouTube頻道所專用的都是無版權及免費的音樂。<br>使用者可以自由去搜尋，編排，剪輯及發佈音樂用於商業用途。<br>如果該音樂有"姓名標示"，必須註明出處，以表彰創作者姓名。
                <br><br>
                此音樂庫的免費音樂都是免費的背景音樂，並按不同音樂類型，音樂氣氛及作者等等所整理及編排。
                
            </div>
        </div>

        <div id="container">

            <div class="item-top">
                <div class="player">播放</div>
                <div class="name">曲名</div>
                <div class="type">類型</div>
                <div class="performer">演出者</div>
            </div>

            <div class="item">
                <audio controls src="../img/mp3/Caballero - Ofshane.mp3">
                    遇到不支援的瀏覽器會出現這行字
                </audio>

                <div class="name">Caballero</div>
                <div class="type">鼓舞人心</div>
                <div class="performer">Ofshane</div>
            </div>

            <div class="item">
                <audio controls src="../img/mp3/Koto San - Ofshane.mp3">
                    遇到不支援的瀏覽器會出現這行字
                </audio>

                <div class="name">Koto San</div>
                <div class="type">開心</div>
                <div class="performer">Ofshane</div>
            </div>

            <div class="item">
                <audio controls src="../img/mp3/Meet & Fun! - Ofshane.mp3">
                    遇到不支援的瀏覽器會出現這行字
                </audio>

                <div class="name">Meet & Fun!</div>
                <div class="type">歡快</div>
                <div class="performer">Ofshane</div>
            </div>

            <div class="item">
                <audio controls src="../img/mp3/Snake on the Beach - Nico Staf.mp3">
                    遇到不支援的瀏覽器會出現這行字
                </audio>

                <div class="name">Snake on the Beach</div>
                <div class="type">平靜</div>
                <div class="performer">Nico Staf</div>
            </div>

            <div class="item">
                <audio controls src="../img/mp3/Soft Feeling - Cheel.mp3">
                    遇到不支援的瀏覽器會出現這行字
                </audio>

                <div class="name">Soft Feeling</div>
                <div class="type">鼓舞人心</div>
                <div class="performer">Cheel</div>
            </div>
        </div>
    </div>
</body>
</html>