<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>32-Team</title>
    <link rel="stylesheet" href="../css/32.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    
    <div id="wrap">

        <div class="list">

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar01.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">Dax Jeffries</div>
                    <div class="job">Front-end designer</div>
                    <div class="Introduction">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quod, molestiae ullam voluptates quae illum eius distinctio quos minima commodi impedit ut id quo dolorem repellendus ipsam accusamus excepturi nulla ipsa. Repudiandae sed voluptatibus corporis quo molestiae obcaecati magnam. Non ex soluta numquam ducimus reiciendis animi similique adipisci doloremque quidem?</div>
                </div>
            </div>

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar02.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">Minnie Velazquez</div>
                    <div class="job">Front-end engineer</div>
                    <div class="Introduction">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae enim est esse provident repellat molestias ipsa porro, quis quos vitae accusamus, quasi nisi quod sint explicabo ad modi necessitatibus animi nulla placeat magni! Cumque, at vel! </div>
                </div>
            </div>

        </div>

        <div class="list">

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar03.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">Laura Donovan</div>
                    <div class="job">Web designer</div>
                    <div class="Introduction">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis hic veritatis consectetur alias aliquam! Esse explicabo assumenda qui delectus recusandae maiores id fugit, voluptatum animi sapiente porro, deserunt necessitatibus magnam facere odio vitae ipsum quod illo at perspiciatis nisi alias harum laborum ipsam. Aut sed tempora eum odio, quibusdam esse culpa nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veniam! Explicabo, in impedit. Culpa, impedit dicta animi doloremque libero vero?</div>
                </div>
            </div>

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar04.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">Andrew Witton</div>
                    <div class="job">Web designer</div>
                    <div class="Introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis itaque modi vero asperiores neque sapiente dolor aliquam nam mollitia! Exercitationem, facere ad minus qui eveniet quo. Perspiciatis eaque dicta aliquid nostrum. Placeat ipsam corrupti voluptatibus blanditiis aperiam fugit beatae dolorum id, sequi inventore non alias perferendis commodi, officiis accusantium porro modi saepe odit. Inventore perferendis eveniet aut molestiae dignissimos reiciendis repudiandae assumenda. Adipisci molestias atque qui quasi corporis. Voluptates aliquam vel, minima facere fugit assumenda esse ab fugiat error. Illo? </div>
                </div>
            </div>

        </div>

        <div class="list">

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar05.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">Clyde Donovan</div>
                    <div class="job">Back-end designer</div>
                    <div class="Introduction">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam quaerat dolorem ab, nam nulla modi labore perferendis culpa minus sapiente aliquid, impedit recusandae laborum necessitatibus totam minima neque maxime eius, quibusdam cumque unde saepe odit incidunt? Reiciendis cumque repudiandae cupiditate aliquam nam facilis, blanditiis dolorum tempore quibusdam fugiat corporis! </div>
                </div>
            </div>

            <div class="item">
                <div class="avatar">
                    <img src="../img/Avatar/Avatar06.jpg" alt="">
                </div>

                <div class="message">
                    <div class="name">	Christine Whalen</div>
                    <div class="job">Back-end engineer</div>
                    <div class="Introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste laborum tempora nesciunt est id nemo facilis accusamus odit cupiditate similique ex voluptatem sequi qui ullam numquam aspernatur officia, aperiam vel quia? Consectetur, molestiae fugit! Ipsa distinctio sint aspernatur consequuntur veniam saepe perferendis veritatis porro fuga consectetur dicta deserunt illum accusamus et ipsum, aut labore amet, placeat minus. Alias, hic impedit!</div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>