<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>33-Team Member</title>
    <link rel="stylesheet" href="../css/33.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>

    <div id="wrap">

        <div id="left">
            <img src="../img/Avatar/Avatar03.jpg" alt="">
            <div>
                <div class="box">
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
            </div>
        </div>

        <div id="right">
            <div class="name-tittle">
                Laura Donovan
            </div>
            <div>
                <h1 class="tittle">About</h1>
                <div class="text">
                    age 29<br>
                    Lorem ipsum dolor sit amet.<br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, in!
                </div>
            </div>
            <div>
                <h1 class="tittle">Core Needst</h1>
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus unde incidunt amet labore. Delectus dolore velit illo voluptas in. Placeat, optio fugit! Fugit adipisci facere, alias veniam deleniti animi porro, neque ex quo exercitationem ut unde pariatur ea. Cupiditate quis deleniti perspiciatis iste ratione rerum facere accusantium tenetur dolor repellendus!
                </div>
            </div>
            <div>
                <h1 class="tittle">Experience</h1>
                <ul class="text">
                    <li>2020/01-2021/04  Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>2019/8-2019/12  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sint!.</li>
                    <li>2018/01-2019/04  Lorem, ipsum dolor..</li>
                    <li>2016/06-2018/10  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>

            <div class="right-bottom">
                <div class="b-box">
                    <h1 class="tittle">Skill</h1>
                    <ul class="text">
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum..</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>

                <div class="b-box">
                    <h1 class="tittle">Contact Me</h1>
                    <i class="fab fa-facebook-square icon "></i>
                    <i class="fab fa-line icon"></i>
                    <i class="fab fa-instagram-square icon"></i>
                    <i class="fab fa-weixin icon"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>