<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>34-Profile</title>
    <link rel="stylesheet" href="../css/34.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    
    <div id="wrap">

        <div id="top">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero culpa, sequi id omnis harum vel assumenda, odio provident, beatae dicta excepturi modi magnam. Labore corporis, in distinctio fugiat sit saepe?
        </div>
        <div id="middle">
            <img src="../img/Avatar/Avatar06.jpg" alt="">
            <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse velit aliquam, possimus sapiente asperiores veniam unde! Ratione minima a quis eius voluptate consequatur voluptatibus. Doloribus omnis dolores necessitatibus beatae reiciendis voluptatibus, perferendis modi eveniet? Reiciendis ipsa accusamus sequi et dignissimos eaque nesciunt vel tempore ipsum, consectetur excepturi harum tenetur possimus fugiat facilis quo quibusdam placeat hic sapiente laudantium quia obcaecati adipisci. Esse minus unde dignissimos sunt odit, quos, maiores ut rerum iste, et accusamus ea voluptas autem possimus molestias non consectetur necessitatibus aliquid porro quae. Debitis possimus ratione voluptates excepturi alias? 
            </div>

        </div>

        <div id="profile">

            <div id="tab1" class="tab-tittle">
                <a href="#tab1">Tab1</a>
            </div>
            <div id="tab2" class="tab-tittle">
                <a href="#tab2">Tab2</a>
            </div>
            <div id="tab3" class="tab-tittle  tab-tittle-active">
                <a href="#tab3">Tab3</a>
            </div>

            <div data-id="tab1" class="tab-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est odit magni quidem, officia ut et distinctio mollitia adipisci reprehenderit pariatur voluptatem eligendi ex consequatur dolorem voluptatum quaerat. Amet magnam non quia sit maiores eos optio dolores ducimus, dicta consequuntur. Obcaecati adipisci doloribus hic quod, architecto recusandae unde, ullam impedit et vitae neque pariatur reprehenderit esse quis. Ipsam ipsa quisquam obcaecati, id eius non minima ullam dolorum culpa natus necessitatibus, provident laborum voluptate esse maiores assumenda fuga, eum laudantium voluptatibus doloribus incidunt quidem ab consequatur. 
                </p>
            </div>
            <div data-id="tab2" class="tab-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates tenetur nesciunt ad quidem aliquam odio quo illum adipisci tempore quam reprehenderit qui exercitationem libero accusamus vitae eum possimus cumque magnam fuga, facilis molestiae asperiores at! Reiciendis, velit. Nostrum accusamus officiis, perspiciatis, eligendi explicabo numquam deserunt dolorem expedita quae, vitae inventore recusandae laudantium suscipit ut magnam vero provident tempora corporis repudiandae! Corporis quas non sint voluptate aliquam sunt. Iusto tempora veritatis at numquam maxime ut laudantium quod esse consequuntur neque sed qui voluptatem reprehenderit eius, corporis hic labore. Quia esse consequuntur et praesentium iusto iure ad? In ipsa laudantium molestiae iure.</p>
            </div>
            <div data-id="tab3" class="tab-content  tab-content-active">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, eos. Provident commodi dolorem aperiam corporis voluptatum itaque quaerat exercitationem reiciendis eaque architecto, hic harum dolores officia doloremque veritatis ipsa molestiae!</p>
            </div>
            
            
        </div>
    </div>
</body>
</html>