<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>36-Chat</title>
    <link rel="stylesheet" href="../css/36.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    
    <div id="wrap">

        <div class="box">

            <div class="user">
                <div>
                    <img src="../img/Avatar/Avatar01.jpg">
                    <a href="#">
                        <div class="id">Kieran</div>
                    </a>
                </div>
                

                <div class="user-text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                </div>

            </div>


        </div>

        <div class="box">

            <div class="user-left">
                <div class="user-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis id, velit nisi ipsam error rerum sit illo excepturi quos quo facere quisquam voluptas obcaecati aperiam enim omnis, sequi ullam! Rerum reiciendis doloremque fuga sint enim fugiat ipsam deleniti a perspiciatis nam? Sit maxime eius officia perferendis assumenda tempore error amet vero voluptatum cum corporis, maiores ex quis quos iste culpa. Provident reiciendis esse deleniti dolorum inventore, neque necessitatibus, accusamus maiores similique minus itaque eaque, tenetur eligendi suscipit ab explicabo quam! 

                </div>

                <div>
                    <img src="..//img/Avatar/Avatar02.jpg">
                    <a href="#">
                        <div class="id">Timothy</div>
                    </a>
                </div>

            </div>


        </div>

        <div class="box">

            <div class="user">
                <div>
                    <img src="../img/Avatar/Avatar03.jpg">
                    <a href="#">
                        <div class="id">Marissa</div>
                    </a>
                </div>
                

                <div class="user-text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est a dignissimos quidem et rem, numquam necessitatibus modi molestias exercitationem architecto?
                </div>

            </div>


        </div>

        <div class="box">

            <div class="user-left">
                <div class="user-text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum delectus adipisci molestias explicabo quidem nulla quibusdam at nihil? Earum mollitia dignissimos, temporibus nesciunt ducimus, nemo quam reprehenderit esse accusantium, laborum aliquam magni facilis quis reiciendis vel! Exercitationem ipsam illo, earum quae, labore, aperiam vero rem totam unde obcaecati eligendi quasi?

                </div>

                <div>
                    <img src="..//img/Avatar/Avatar04.jpg">
                    <a href="#">
                        <div class="id">Audrina</div>
                    </a>
                </div>

            </div>


        </div>

        <div class="box">

            <div class="user">
                <div>
                    <img src="../img/Avatar/Avatar05.jpg">
                    <a href="#">
                        <div class="id">Timothy</div>
                    </a>
                </div>
                

                <div class="user-text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sed cupiditate, maiores et recusandae rem nesciunt vero iste odio, quaerat est numquam beatae, magnam vel repellendus quis assumenda voluptate in. Facere, pariatur! In consequatur exercitationem quam culpa mollitia sunt eius. Error totam odit nam sit reiciendis placeat laboriosam ducimus dignissimos, odio inventore voluptatem quidem, eligendi saepe! Maxime repellat rem esse corrupti quia doloremque praesentium quae. Cumque laborum ut aliquid vel, nemo esse quae ipsum consectetur est incidunt quaerat ratione iusto enim inventore. Excepturi ullam sapiente dolores dicta officia! Ab corporis, hic reiciendis vero laboriosam nostrum itaque harum. Modi, accusamus dolorem!
                </div>

            </div>


        </div>
    </div>
</body>
</html>