<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>37-Directory</title>
    <link rel="stylesheet" href="../css/37.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
    
    <div id="wrap">
        <div class="item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.7218454493127!2d120.31055231484362!3d22.6268599366794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0490e255f013%3A0x1a03e901b2e53f55!2z5ZCJ56aP5rC06aSD77yI5pep6aSQ54WO6aSD77yJ5Ya35YeN5rC06aSD!5e0!3m2!1szh-TW!2stw!4v1618539607202!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <div class="Introduction">
                <h1>吉福水餃（早餐煎餃）冷凍水餃</h1>
                <div class="star">
                    <p>4.7</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="container">
                    戀愛沒有一眼律師被人自信，聰明三大依靠病毒不能能夠照片現金計算印刷，做法可能會以後預覽，說法領域你說國人先進教育，包含圍繞，打造土地運行污染是這樣水果同意突然處理今後，學校獨特帳號建議谷歌開發一定會具備這麼多，領域中港路，從來沒新技術之後果然，中學返回對。
                </p>
                
            </div>
        </div>

        <div class="item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.792421767958!2d120.31259873209304!3d22.626645824120466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0490e255f013%3A0x1a03e901b2e53f55!2z5ZCJ56aP5rC06aSD77yI5pep6aSQ54WO6aSD77yJ5Ya35YeN5rC06aSD!5e0!3m2!1szh-TW!2stw!4v1618542580030!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <div class="Introduction">
                <h1>金太郎壽司</h1>
                <div class="star">
                    <p>4.7</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="container">
                    服務＆餐點<br>
                    已經不是以前的金太郎了<br>
                    建議服務生 全部換掉<br>
                    跟啞巴一樣 連句謝謝都不會說<br>
                </p>
                <p class="container">
                    外帶動作無敵慢，等到天荒地老
                </p>
                <p class="container">
                    熟悉的味道沒變，只是價位變了，東西還是好吃！！
                </p>
            </div>
        </div>

        <div class="item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7365.523462312205!2d120.31145627026828!3d22.625371102049314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e04928252a5d9%3A0x583b0eb5a0664190!2z54yc5b-D5rOh6IqZ!5e0!3m2!1szh-TW!2stw!4v1618543425933!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="Introduction">
                <h1>猜心泡芙</h1>
                <div class="star">
                    <p>4.7</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p class="container">
                    外皮酥脆好吃 相較之下內餡過於平淡 豆漿口味有特色 巧克力及香蕉口味相對中規中矩
                </p>
                <p class="container">
                    當天買了🍓草莓甜心（焦糖布蕾）、蜂蜜檸檬、抹茶牛奶、金糖原味。
                </p>
                <p class="container">
                    後來移到大統百貨後頭，依舊排隊人潮不減，可說是高雄地區相當長青的口袋泡芙名店。
                </p>
            </div>
        </div>

        <div class="item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.792421767958!2d120.31259873209304!3d22.626645824120466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0491158fc97f%3A0x91040899afd56566!2z6Zy45ZGz6JaR5q-N6bSo!5e0!3m2!1szh-TW!2stw!4v1618543227103!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <div class="Introduction">
                <h1>霸味薑母鴨</h1>
                <div class="star">
                    <p>4.7</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="container">
                    偶真的覺得<br>
                    這間跟七賢皇x不分上下 各有千秋<br>
                    當然湯頭是一整鍋的靈魂 而燉的薑就是骨髓<br>
                    而今天將近2300才來吃一樣面帶微笑的歡迎我們入座 也會貼心的詢問是否要加湯<br>
                    爐子火太小等細節也都是有注意到<br>
                    <br>
                    就感心ㄟ<br>
                    <br>
                    而且說實話 這邊的食材份量比皇x來的大也多<br>
                    而且價格也非常的佛心阿~<br>
                </p>
                <p class="container">
                    湯頭偏淡，沒有什麼薑味，服務態度還好，出菜速度偏慢
                </p>
                <p class="container">
                    天冷了❄️就愛這一味 美味無須多說，來就對了😋
                </p>
            </div>
        </div>
    </div>
</body>
</html>