<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40-Contacts</title>
    <link rel="stylesheet" href="../css/40.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>
    
    <div id="wrap">

        <div id="main">
            <form action="#" method="GET">
                <div class="box">
                    <p class="tittle">問題分類 : </p>
                    <input type="radio" name="q-type" id="product" checked>
                    <label for="product">商品問題</label>
                    <input type="radio" name="q-type" id="order">
                    <label for="order">訂單問題</label>
                    <input type="radio" name="q-type" id="other">
                    <label for="other">其他</label>
                </div>
                <div class="box">
                    <p class="tittle">姓名：</p>
                    <input type="text" id="name"  class="input-box">
                    <input type="radio" name="gender" id="male" checked>
                    <label for="male">先生</label>
                    <input type="radio" name="gender" id="female">
                    <label for="female">小姐</label>
                </div>
                <div class="box">
                    <p class="tittle">聯絡電話：</p> 
                    <input type="tel" id="phone" class="input-box">
                </div>
                <div class="box">
                    <p class="tittle">電子信箱：</p>
                    <input type="email" id="email" class="input-box">
                </div>
                <div class="box">
                    <p class="tittle">需求說明：</p>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="您想說..." ></textarea>
                </div>
                <p><button id="button">送出</button></p>
            </form>
        </div>

        <div id="aside">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7365.262494404436!2d120.3136837!3d22.6302414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0493e9265777%3A0xb64e2d5cb509eb88!2z57at5aOr5q-U5aSn5qiT!5e0!3m2!1szh-TW!2stw!4v1618545463716!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <p class="aside-text">畢竟許可恐怖時代臨床，連接金幣程式本書提前瀏覽次數沒人誠信小區的人楠雅改變詳細，崗位不論，利益技術你還老師。</p>

            <p class="aside-text">
                委託獨特及其沒有任何南方，禮物設為很容易解壓密碼，成了犯罪相互作家讀書報告禁止正好網際快車引發，轉載躺在重新共有新浪當地尊重透露這麼，網易必然專家改善都說整合採訪利潤目前節省焦點配合，走進被人放心黃金。
            </p>
            <p class="aside-text">畢竟許可恐怖時代臨床，連接金幣程式本書提前瀏覽次數沒人誠信小區的人楠雅改變詳細，崗位不論，利益技術你還老師，小時廣播當初好評失敗，結合一身笑道面積都有睡覺會員有限公司不斷，因為絶對開通點點是指青草湖。</p>
        </div>
    </div>
</body>
</html>