<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>43-Calendar</title>
    <link rel="stylesheet" href="../css/43.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>

    <div id="wrap">

        <div id="top">
            <img src="https://picsum.photos/300/300/?random=1">
            <div>
                <h1>活動/講座訊息</h1>
                <p>主辦單位保有隨時修改及終止本活動之權利，如有任何變更內容或詳細注意事項將公布於本網頁，恕不另行通知。</p>

                <p><b>時間:</b> 14:00-16:30</p>
                <p><b>地點: </b>駁二共創基地206教室(高雄市鹽埕區大勇路11號3樓)</p>
                <p><b>報名方式: </b>上限30名，採事先報名制，並憑當日展覽門票入場即可參與，1張票限用1位學員。</p>
                <p><b>工作坊簡介：</b>

                    魔王的姿態是以藝術為媒介的社區串連與教育行動，以藝術家進入的模式引導居民／學生重新認識、詮釋、創作，用動畫的表現手法將疫情下的生活體驗和想像呈現給民眾。在疫情頻仍的當下，引導參與者就現下的時空環境議題導入思考。透過藝術家的實際參與，我們規劃一個工作坊活動以及一區展場中的成品展示。

                    這個課程旨在創造一個反思當下社會情境的契機，並在知識系統的學習和個人感知與創作體驗上的有機連結。本工作坊將以「疫情下的生活感觸」與「病毒究竟是什麼」來爬梳學員心中對於『疫病』的想像，以及它背後投射出的未知、幻變莫測的『恐懼』之多元意義。
                </p>
            </div>
        </div>


        <div id="calendar">

            <div class="month">
                <ul>
                    <li class="prev">❮</li>
                    <li class="next">❯</li>
                    <li style="text-align:center">
                        April<br>
                        <span style="font-size:18px">2021</span>
                    </li>
                </ul>
            </div>
    
            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>
    
            <ul class="days">
                <li></li>
                <li></li>
                <li></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li><span class="active">19</span></li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
            </ul>
        </div>


        </div>
        
</body>

</html>