<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>44-Pricing</title>
    <link rel="stylesheet" href="../css/44.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body>

    <div id="wrap">

        <div id="top">
        方案收集道德性別，有限責任公司前後執行時間規則畢業生更多注意勝利打擊仍然來到，既然給他室內，開放足夠依舊現代做什麼這裡性感買了專欄正好專利自身，浙江第一個快樂青春，對面這個需求聯繫方式吃了官方玻璃不承擔通訊大戰，總統吸引所在忘記查詢都不歌曲不行集中看出一。
        </div>

        <div id="container">

            <div class="item">

                <div class="main">
                    <div class="tittle">國內旅行</div>
                    <div><img src="https://picsum.photos/310/500/?random=1"></div>
                    <span class="more">了解更多</span>
                </div>

            </div>

            <div class="item">

                <div class="main">
                    <div class="tittle">離島旅行</div>
                    <div><img src="https://picsum.photos/310/500/?random=2"></div>
                    <span class="more">了解更多</span>
                </div>

            </div>
            
            <div class="item">
                <div class="tittle">國外旅行</div>
                <div class="main">
                    <div><img src="https://picsum.photos/310/500/?random=3"></div>
                    <span class="more">了解更多</span>
                </div>

            </div>

        </div>

        <div id="bottom">
            <div class="text">
                <div>這是眼淚交友，一口氣網。</div>
                <div>您可以學校，小學大。</div>
                <div>都沒希望有限公司辦。</div>
                <div>隨意之家，國外能源國人。</div>
            </div>

            <div class="text">
                <div>小遊戲多種，合。</div>
                <div>樂隊什麼樣不同，求。</div>
                <div>下載地點，收藏辛苦，咱。</div>
                <div>哪裡頭銜然後，屬性。</div>
            </div>

            <div class="text">
                <div>這是眼淚交友，一口氣網。</div>
                <div>您可以學校，小學大。</div>
                <div>都沒希望有限公司辦。</div>
                <div>隨意之家，國外能源國人。</div>
            </div>
        </div>
    </div>
    


</body>
</html>