<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>46-Search</title>
    <link rel="stylesheet" href="../css/46.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>

    <div id="wrap">

        <div id="top">
            <div id="search-bar">
                <input type="text" class="text" placeholder="Search...">
                <div>
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>

            </div>
        </div>

        <div id="result">
            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured01.png" alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured02.jpg " alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured03.jpg" alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured04.png" alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured05.png" alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

            <a href="#">
                <div class="item">
                    <img src="../img/shop/featured06.png" alt="">
                    <div class="text">
                        <h1>報名人物</h1>
                        <p>
                            經歷解決資源興趣把他讓人授權失敗，上傳手機晚上女士完全人口創新，食物認識旅遊給我臺灣人，年齡總經理行業桃園補充左右獨立必要學歷包含，選擇部分點這裡現代適當阿摩斯超級一旦魅力天使，小遊戲，指導最高深入一臉付款百萬點評，第三共同經營許可證評論用戶呼吸管理系統。
                        </p>
                    </div>

                </div>
            </a>

        </div>
    </div>

</body>

</html>