<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>52-Login Register</title>
    <link rel="stylesheet" href="../css/52.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>

    <div id="wrap">

        <div id="left">
            <h1>Hello <br>World.</h1>
            <p>Lorem ipsum dolo</p>
        </div>

        <div id="right">
            <div class="tittle">LOGIN</div>
            <div class="right-t">
                <form action="#" method="GET">
                    <div class="item">
                        <label for="name">USERNAME</label><br>
                        <input type="text" id="name" name="user-name">
                    </div>
                    <div class="item">
                        <label for="email">E-MAIL</label><br>
                        <input type="email" id="email" name="user-email">
                    </div>
                    <div class="item">
                        <label for="password">PASSWORD</label><br>
                        <input type="password" id="password" name="user-password">
                    </div>
                    <div class="item">
                        <label for="repeat-p">REPEAT PASSWORD</label><br>
                        <input type="password" id="repeat-p" name="repeat-password">
                    </div>
                    <div class="login">
                        <input type="submit" id="login" name="login" value="Login">
                    </div>

                </form>
            </div>

            <div class="right-b">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, asperiores? Maxime dolorum
                        quasi nesciunt iure.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem minima non corporis.</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptatem?</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>